iframe {
    height: 100%;
    width: 100%;
}
#circulum-subject-title {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: 'GlacialIndifferenceRegular';
}
.subheader-name {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}