#idc-img {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    display: block;
}
#virtual, #learning, #competitors, #description, #details {
    font-size: 1.2rem;
}
#virtual .header {
    color: #346C77;
}
#learning .header {
    color: #BC68C6;
}
#competitors .header, #title{
    color: #7257B3;
}
#description {
    font-size: 1.5rem;
}
#details .header {
    font-weight: 300;
}
#interested {
    border: #D1C1F7 10px solid;
    background-color: #D1C1F7;
    padding: 5%;
}
#guidelines_image img {
    width: 100%;
    height: 100%;
}
#prospectus_image img {
    width: 100%;
    height: 100%;
}
.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.0s ease-out;
}
.fade-up-active {
    opacity: 1;
    transform: translateY(-50px);
}
.fade-up-slow {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.1s ease-out;
}
.fade-up-slow-active {
    opacity: 1;
    transform: translateY(-50px);
}
@media only screen and (max-width: 767px) {
    .fade-up {
        opacity: 0;
        transform: translateY(0%);
        transition: all 1.0s ease-out;
    }
    .fade-up-active {
        opacity: 1;
        transform: translateY(-0%);
    }
    .fade-up-slow {
        opacity: 0;
        transform: translateY(0%);
        transition: all 1.1s ease-out;
    }
    .fade-up-slow-active {
        opacity: 1;
        transform: translateY(-0%);
    }
}