@font-face {
    font-family: AdreenaScript;
    src: url('../fonts/AdreenaScript.ttf');
    src: url('../fonts/AdreenaScript.otf');
}
#inno {
    font-family: AdreenaScript;
    color: #7257B3;
}
#landing {
    
}
#banner .grid {
    height: 90vh;
    width: 100%;
}
#title .ui.header {
    font-size: 6.05em;
}
#commited {
    margin: 5%;
}
#why {
    margin: 5%;
}
#learning {
    background-color: #C5F1F1;
}
#resources {
    background-color: #6BB1BE;
}
#experience {
    background-color: #F8D6FC;
}