#landing {
    background-image: url("../imgs/backgrounds/team.svg");
    background-size: cover;
}
#phone {
    width: 50vw;
    height: 50vh;
}
#banner .grid {
    height: 90vh;
    width: 100%;
}
#title .ui.header {
    font-size: 5.05em;
}
#commited {
    margin: 5%;
}
#why {
    margin: 5%;
}
#learning {
    background-color: #C5F1F1;
}
#resources {
    background-color: #6BB1BE;
}
#experience {
    background-color: #F8D6FC;
}