* {
    margin: 0;
    padding: 0;
    font-family: 'GlacialIndifferenceRegular';
    font-size: 1.05em;
}
p.ui.header, div.header, div.ui.header, a.header, h1.ui.header, h2.ui.header, h3.ui.header, h4.ui.header, h5.ui.header, h6.ui.header, a.ui.header, a.ui.button {
    font-family: 'GlacialIndifferenceRegular';
}
div.card div.content a.header {
    font-family: 'GlacialIndifferenceRegular';
}
h2 {
    font-size: 0.5em;
}
body {
    color: black;
    background-color: #F5F3F3;
}
#navbar {
    background-color: #F5F3F3;
}
.section {
    opacity: 0;
    transition: all 0.5s ease-out;
    background-size: cover;
}
.part {
    min-height: 100vh;
}
img {
    background-size: cover;
}
.full {
    width: 100%;
    height: 100%;
}
.quarter {
    width: 25%;
}
.segment {
    height: 85vh;
    width: 100%;
}
.fade-in {
    opacity: 1;
}
.center {
    text-align: center;
}
.centered-v, #title, #phone, #join, #experience_text, #resources_text, #learning_text, #join_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centered-h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
}
button, .button {
    box-shadow: 0 15px 40px rgba(197, 241, 241, 0.9)
}
hr {
    margin: 1em;
}
form {
    flex-direction: column;
}
#join {
    height: 70vh;
    background-image: url("../imgs/backgrounds/pbw.svg");
}
textarea {
    resize: none;
}
.underline {
    text-decoration: underline;
}
footer a {
    color: black;
}
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"]{
        display: none !important;
    }
}